header {
    display: flex;
    height: 200px;
}

#logo {
    width: auto;
    height: 200px;
}

nav a {
    background-color: rgb(153, 20, 75);
    display: inline-flex;
    justify-content: space-between;
    padding: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 16pt;
    color: rgb(107, 18, 45);
    height: auto;
}

a:hover {
    color: rgb(167, 113, 14);
}

#fond {
    background-image: url(../assets/img/bg2.jpeg);
    background-size: cover;
    height: 300px;
}

#search {
    height: 10%;
    margin: 100px;
    box-sizing: border-box;
    width: 20%;
}