html {
    font-family: 'Dancing Script';
    color: rgb(107, 18, 45);
}

header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

#logo {
    width: auto;
    height: 200px;
}

nav a {
    padding: 100px;
    font-size: 16pt;
    color: rgb(107, 18, 45);
}

.bg-header {
    padding-left: 150px;
}

a:hover {
    color: rgb(167, 113, 14);
}

#fond {
    background-image: url(../assets/img/bg2.jpeg);
    background-size: cover;
    height: 200px;
}

#search {
    height: 10%;
    margin: 100px;
    box-sizing: border-box;
    width: 20%;
}

/* Grille */
.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 190px);
    top: 100%;
    gap: 1em;
}

.wrapper img {
    height: 200px;
    width: 100%;
}
h1{
text-align: center;
}
.one {
    grid-column-start: 1;
}

.two {
    grid-column-start: 2;
}

.three {
    grid-column-start: 3;
}

.four {
    grid-column-start: 2;
}

.five {
    grid-column-start: 3;
    grid-row: 2/3;
}