header {
    display: flex;
    height: 200px;
    width: 100%;
    font-family: 'Dancing Script' !important;
}

.logo {
    width: auto;
    height: 200px;
}

nav a {
    padding: 90px;
    font-size: 16pt;
}

a:hover {
    color: rgb(167, 113, 14);
}

#search {
    height: 25%;
    margin: 100px;
    box-sizing: border-box;
    width: 20%;
}

/* Grille */
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    top: 100%;
    gap: 1em;
}

/* .wrapper img {
    height: 200px;
    width: 100%;
} */

h1 {
    text-align: center;
    grid-column-start: 2;
}

.one {
    grid-column-start: 1;
}

.two {
    grid-column-start: 2;
}

.three {
    grid-column-start: 3;
}

.four {
    grid-column-start: 2;
    grid-row: 2/2;
}

.five {
    grid-column-start: 3;
    grid-row: 2/3;
}