*{
    font-family: 'Dancing Script' !important;
    color: brown !important;
    font-size: 30px;
}
.container{
background-image:url(../assets/img/bg3.jpeg);
background-repeat: no-repeat;
background-size: cover;
}
a:hover{
    color: rgb(167, 113, 14)!important;
}