 * {
   font-family: 'Dancing Script' !important;
 }

 header {
   height: 100%;
 }

 .navbar {
   padding-top: 30px;
   padding-bottom: 30px;
   top: 0;
   width: 100%;
   z-index: 1;
 }

 .navbar-right a {
   text-decoration: none;
   padding: 10px;
   color: #cecece;
   font-family: Arial;
   font-weight: 900;
   border-radius: 10px 100px /120px;
   font-size: 25px;
   text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
 }

 .navbar-right a:hover {
   text-decoration: underline;
 }

 .navbar-logo {
   padding-left: 10%;
   font-weight: bold;
   text-decoration: none;
   color: #c54e4e;
 }

 .video {
   border-radius: 10% 30% 50% 70%;
   z-index: -100;
   width: 100%;
   height: 25%;
   overflow: hidden; 
   position: absolute;
    top: 0;
   left: 0; 
 }

 #video-bg {
   width: 100%;

 }

 body {
   min-height: 100vh;
   display: block;
   background-image: url(../assets/img/bg3.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
 }

.grid img{
   width: 130px;
   height: 130px;
 }

 .grid {
  font-weight: bold;
   display: grid;
   grid-template-columns:repeat(8, 1fr);
   grid-template-rows: repeat(6, 1fr);
   grid-column-gap:20px ;
   color: aliceblue;
   justify-items: center;
 }
 h1{
grid-column-start: 2;
grid-column-end: 5;
grid-row-start: 2;
 }
 #asia{
  grid-column-start: 2;
  grid-row-start: 3;
 }

 #burger{
  grid-column-start: 4;
  grid-row-start:3 ;
 }
 
 #pasta{
  grid-column-start: 3;
  grid-row-start:3 ;
 }
 
 #pizza{
  grid-column-start:2;
  grid-row-start: 5;
 }

 #salade{
  grid-column-start: 4;
  grid-row-start: 5;
 }

 h2{
  grid-column-start: 8;
  grid-column-end: 8;
  grid-row-start: 2;
 }
  #maki{
    grid-column-start: 8;
    grid-row-start: 3;
  }
  #burger2{
    grid-column-start: 7;
    grid-row-start: 4;
  }
  #pizza2{
    grid-column-start: 8;
    grid-row-start: 5;
  }