 * {
   font-family: 'Dancing Script' !important;
   font-size: 20px;
 }

 html,
 body {
   margin: 0;
   padding: 0;
 }

 header {
   height: 100%;
   width: 100%;
 }

 .navbar {
   justify-content: space-evenly;
   padding-top: 30px;
   padding-bottom: 30px;
   top: 0;
   width: 100%;
   z-index: 1;
 }

 .navbar-right a {
   text-decoration: none;
   padding: 20px;
   color: #cecece;
   font-family: Arial;
   font-weight: 900;
   font-size: 25px;
   text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
 }

 .navbar-right a:hover {
   text-decoration: underline;
 }

 .navbar-logo {
   padding-left: 10%;
   font-weight: bold;
   text-decoration: none;
   color: #c54e4e;
 }

 .video {
   border-radius: 10% 30% 50% 80%;
   z-index: -100;
   width: 100%;
   height: 20%;
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
 }

 #video-bg {
   width: 100%;

 }

 body {
   min-height: 100vh;
   background-image: url(../assets/img/bg3.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   background-attachment: fixed;
   position: relative;
 }

 #grid-catégories img {
   width: 130px;
   height: 130px;
 }

 #grid-plats img {
   width: 130px;
   height: 130px;
 }

 #grid-catégories {
   font-weight: bold;
   justify-content: center;
   align-items: center;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 10px;
   color: aliceblue;
   justify-items: center;
 }

 #grid-plats {
   font-weight: bold;
   justify-content: center;
   align-items: center;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   color: aliceblue;
   justify-items: center;
 }

 p {
   color: aliceblue;
   font-size: 25px;
 }

 h1 {
   font-weight: bold;
   grid-column-start: 2;
   grid-row-start: 2;
 }

 #asia {
   grid-column-start: 1;
   grid-row-start: 2;
 }

 #burger {
   grid-column-start: 2;
   grid-row-start: 3;
 }

 #pasta {
   grid-column-start: 3;
   grid-row-start: 2;
 }

 #pizza {
   grid-column-start: 3;
   grid-row-start: 3;
 }

 #salade {
   grid-column-start: 1;
   grid-row-start: 3;
 }

 h2 {
   font-weight: bold;
   grid-column-start: 2;
   grid-row-start: 1;
 }

 #maki {
   grid-column-start: 2;
   grid-row-start: 2;
 }

 #burger2 {
   grid-column-start: 3;
   grid-row-start: 2;
 }

 #pizza2 {
   grid-column-start: 1;
   grid-row-start: 2;
 }

 .container {
   height: 100%;
   display: grid;
   padding-bottom: 100px;
 }

 form {
   color: aliceblue;
   font-size: 20px;
   min-height: 100%;
   position: relative;
   padding-bottom: 100px;
   margin-top: 100px;

 }
 .invalid-feedback{
  font-size: 20px;
  font-weight: bold;
   text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
 }

 footer {
   background-color: #f8f9fa;
   position: absolute;
   width: 100%;
   bottom: 0;
   height: 100px;
 }

 .footer ul li a {
   color: #212529;
   font-size: 30px;
 }

 .footer ul li a:hover {
   color: rgb(172, 97, 97);
 }