header{
    display:flex;
    height: 200px;
    /* justify-content: space-between; */
}
#logo{
    width: auto;
    height: 200px;
}
nav a{
display:inline-flex;
justify-content: space-between;
padding: 100px;
font-family: 'Dancing Script', cursive; 
font-size: 15pt;
color: rgb(107, 18, 45);
height: auto;
}
 a:hover{
color: rgb(167, 113, 14);
} 
.barre{
    background-image: url(../assets/img/bg2.jpeg);
}