form{
    background-color:darkgray;
    border-radius: 5px;
    margin: 20px;
    
}

@media screen and (max-width:768px){
    .aside{
        visibility:hidden;
        display:none;
        width:0;
        height:0;
    }.
}