.bg-header{
    color:rgb(255, 255, 255);
    background: #000;
    padding:10px
}
.aside{
    background-color: aliceblue;
    float:right;
    width:25%;
    height:40rem;
}
#logo{
    width:300px;
    height:150px;
}
.bg-footer{
    color: rgb(255,255,255);
    background:#000;
    padding:10px
}    
#promotion{
       width:100%;



}
div{
    width:60%;
    display: flex;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
}
section{
    display: flex;
    justify-content: flex-start;
}







@media screen and (max-width:768px){
    .aside{
        visibility:hidden;
        display:none;
        width:0;
        height:0;
    }.
}