/* @import url('https://fonts.googleapis.com/css2? family= Lugrasimo & display=swap'); */
/* le plus gros du travail est fait par Boots */
/* Navbar */
.dancing {
    font-family: 'Dancing Script' !important;
    color: white;
}

.Lugrasino {
    font-family: 'Lugrasimo', sans-serif !important;
    /* text-decoration: none;
    font-size: 46px;  */
}

* {
    font-family: 'Lugrasimo', sans-serif !important;
}

.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
    /* evenement transition */
}

.cc-navbar .nav-link:hover {
    /*effet de la trasition*/
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
    /* couleur de boots qui color la barre de la box du bas */
}

.cc-navbar {
    background-color: rgb(0, 0, 0, .55);
    font-family: serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .54);
    /* padding-top: 0; */
    z-index: 99;
}

.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: .5s;
}

.btn-order:hover,
.btn-order:active {
    color: white;
    background-color: var(--bs-teal);

}

/* Fin de navbar */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/bg2.jpeg') center center fixed no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    padding-top: 150px;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    /* z-order détermine l'ordre des différentes couches */
}

.video-container {
    width: 100%;
    max-width: 100%;
    height: 30vh;
    position: relative;
}

.video {
    width: 100%;
    display: block;
    object-fit: cover;
}

.banner .banner-desc {
    font-size: 40px;
    font-weight: 400;
    color: white;
}

.cc-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/bg3.jpeg') center center fixed no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.img-logo {
    width: 160px;
    height: 160px;
}

.card {
    border: none;
    background-color: antiquewhite;
}

 .card img{
    height: 35rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
} 
.carousel-inner {
    max-width: 100%;
    max-height: auto;
}

.Catégories {
    font-size: 36px;
}